// .canvas {
//     position: relative;
//     border: solid lightgray 1px;
//     left: 10vw;
//     width: 85vw;
//     height: 90vh;
//     z-index: -1;
// }

.canvas-stage {
    position: relative;
    border: solid lightgray 1px;
    left: 10vw;
    width: 85vw;
    height: 90vh;
    z-index: -1;
}