.note {
    position: absolute;
    cursor: pointer;
    background-color: aquamarine;
    top: 100px;
    left: 300px;
    height: 200px;
    width: 200px;
    padding: 20px;
}

.notes-container {
    position: relative;
    border: solid;
}

.notes-modal {
    position: fixed;
    display: flex;
    width: 40vh;
    border: solid;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
