#sidebar {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0;
    cursor: pointer;
    border: solid lightgray .25px;
    border-radius: 25px;
    top: 20%;
    height: 60vh;
    width: 50px;
    margin: 10px;
    z-index: 99;
}

.sidebar-button {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
}

.button-img {
    position: absolute;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.sidebar-button:hover {
    background-color: lightgray;
}

.active {
    background-color: lightgray;
}