* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(236, 236, 236, 0.376);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    padding: 5vh;
    height: 100vh;
    border: solid;
}
